*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
}

header{
    background-color: #EAC926;
    padding-bottom: 10px;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}

.logo img{
    width: 70%;
    position: relative;
    left: 10%;
}

header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
    background-color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    /* padding: 11.6px; */
    outline: none;
    color: #666;
    height: 100%;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
    display: none;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

.search {
    border-radius: 5px;
    text-decoration: none;
    border: none;
    padding: 10px;
    width: 100%;
    background-color: #FFF;
    /* border: 1px solid #000; */
    outline: none;
    color: #666;
}

header .form .submit{
    background-color: #FFF;
    padding: 10px;
}

div.burger-menu{
    text-align: center;
}

div.menu-burguer i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    /*margin: 10px 0px 20px 0px;*/
    padding: 10px;
    left: 45%;
    position: relative;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

/*article :hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}*/

.container-products:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.container-products {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



/*<article class="display-articulos">
<img src="/img/img-cafetera-moulinex.jpg">
<div class="display-descripcion">
<i class="fas fa-truck"></i>
<p class="precio">$6.770</p>
<p class="descuento">40% off</p>
<h4 class="descripcion">Cafetera Moulinex</h4>
</div>
</article> */


main section article :hover .description{
    display: block;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 0.5s;
}

.fa-truck:hover {
    transform: rotate(-90deg);
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

.login {
    height: 40vh;
}
/*   REGISTER    */

.form-reg-log {
    padding-top: 50px;
    margin: auto;
}

main form input {
    border-radius: 5px;
    text-decoration: none;
    border: none;
    margin: 5px;
    padding: 10px;
    width: 100%;
}

main form div div input {
    border-radius: 0%;
    border: auto;
    margin: auto;
    padding: 0;
    width: auto;
}

.profile {
    display: flex;
    justify-content: space-around;
}

.place-select {
    margin: 10px;
}

.title {
    margin: 10px;
}

.buttons {
    border-radius: 5px;
    text-decoration: none;
    border: none;
    margin: 5px;
    padding: 10px;
    width: 100%;
    background-color: #035ce0;
    color: white;
}

.buttons:hover {
    background-color: #0022AA;
}

.log-input {
    margin: 0 0 50px;
}


/* Footer */

.footer-articles {
    display: block;
}

footer div article {
    text-align: center;
    margin-bottom: 20px;
}

footer .fas {
    font-size: 2em;
    color: blue;
}

.copyright {
    margin-top: 50px;
}


footer {
    margin-top: 5%;
    padding: 5%;
    background-color: white; 
}

.fa-credit-card {
    margin-bottom: 10px;
    transition: all 0.5s;
}
.fa-credit-card:hover {
    color: #39b54a;
}

.fa-gift {
    margin-bottom: 10px;
    transition: all 0.5s;
}
.fa-gift:hover{
    color: #39b54a;
}
.fa-user-shield {
    margin-bottom: 10px;
    transition: all 0.5s;
}
.fa-user-shield:hover{
    color: #39b54a;
}

@media (min-width: 768px){
    header nav {
        display: flex;
        justify-content: space-between;
    }

    header nav ul {
        display: flex;
        width: 40%;
        justify-content: space-around;
    }

    div.top-header {
        flex-wrap: nowrap;
        align-items: center;
        padding: 2%;
    }

    header div.logo {
        width: 100%;
    }

    header .form {
        width: 80%;
        padding: 6px;
    }

    header .form .search {
        width: 100%;
        padding: 0;
    }


    header div.logo {
        width: 100%;
    }

    .submit {
        width: 10%;
    }

    header div.top-header p {
        width: 100%;
    }

   .menu-burguer {
        display: none;
    }

    main section article .description{
        display: block;
    }

    /*main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }*/

    main section div.products{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        display: flex;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }


    /* register */

    .form-reg-log {
        max-width: 500px;
        margin: auto;
    }
}

@media (min-width: 1024px){
    main section div.products article{
        width: 22%;
    }

    .footer-articles {
        display: flex;
    }
}